
@media only screen and (min-width: 500px) {

    body{overflow: hidden;}
    *{z-index: 0;}

    #background{
        position: fixed;
        width:100%;
        height:200%;
        left:0;
        top:0;
        background-image:url("home.jpeg");
        background-size:  auto 200%;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        z-index:-1;
    }
    #titlebox{
        position: fixed;
        width:100%;
        height:90%;
        left:0;
        top:2%;
        /* background-color: blanchedalmond; */
    }#title{
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }.safe_title{
        top:0%;
        height:auto;width: 70%;
        left:17.5%;
    }.space_title{
        top:50%;
        height:auto;width: 90%;
        left:5%;
    }

    .cloud{
        position:absolute;
    }

    #inside0{
        width:40%;height:auto;
        top:50%;
    }#images0{
        width:40%;height:auto;
        top:1%;
    }#read0{
        width:15%;height:auto;
        top:25%;
    }#inside1{
        width:40%;height:auto;
        top:10%;
    }#images1{
        width:40%;height:auto;
        top:55%;
    }#read1{
        width:15%;height:auto;
        top:55%;
    }
}

@media only screen and (max-width: 500px) {
    html{
        overflow: hidden;
    }
    body{
        overflow: hidden;
        background-image:url("home.jpeg");
        background-size:  cover;
        background-position: 0px 0px;
        background-repeat: rrepeat;
    }
    *{z-index: 0;}
/* 
    #background{
        position: fixed;
        width:100%;
        height:100%;
        left:0;top:0;
        z-index:-1;
    } */
    #titlebox{
        position: relative;
        width:100%;
        height:90%;
        left:0;
        top:0%;
        /* background-color: blanchedalmond; */
    }#title{
        
    }.safe_title{
        position: relative;
        top:25%;
        height:auto;width: 80%;
        left:10%;
    }.space_title{
        position: absolute;
        top:50%;
        height:auto;width: 90%;
        left:5%;
    }

    .cloud{
        position:absolute;
    }

    #inside0{
        width:60%;height:auto;
        top:50%;
    }#images0{
        width:60%;height:auto;
        top:1%;
    }#read0{
        width:35%;height:auto;
        top:25%;
    }#inside1{
        width:60%;height:auto;
        top:10%;
    }#images1{
        width:60%;height:auto;
        top:55%;
    }#read1{
        width:35%;height:auto;
        top:55%;
    }
}